<div class="login-container">
  <div class="logo">Movie selector</div>
  <div class="description">
    Have a look at the reviews for these latest trending mvovies.
  </div>
  <div class="login-form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" />
    </div>
  </div>
</div>
